<h1> you hit rival homepage</h1>


<form action="/fortnite/compare" method="POST">
    <label for="new-rival">Keep Rival and Compare</label>
    <input type="hidden" name="rivalname" id="new-rivalname">

    <input type="submit" value="New Rival">
</form>


<li><a href='/fortnite/index'>Back to your stats</a></li>

<h1><%= rivalStats.name %></h1>
<ul style="list-style-type:none;">

    <div class="col-md-1">
        <h2>Solo</h2>
    </div>
    <div class="col-md-1">
 <h4>Victory Royale!</h4>   <li> <%=   rivalStats.global_stats.solo.placetop1 %> </li>
 <h4>Kills to Deaths</h4>   <li> <%=   rivalStats.global_stats.solo.kd %> </li>
 <h4>placetop6</h4>   <li><%=   rivalStats.global_stats.solo.placetop6 %> </li>
 <h4>placetop10</h4>    <li> <%=   rivalStats.global_stats.solo.placetop10 %> </li>
 </div>
 <div class="col-md-1">
 <h4>placetop25</h4>    <li><%=   rivalStats.global_stats.solo.placetop25 %> </li>
 <h4>kills</h4>    <li><%=   rivalStats.global_stats.solo.kills %> </li>
 <h4>matchesplayed</h4>   <li><%=   rivalStats.global_stats.solo.matchesplayed %> </li>
 <h4>minutesplayed</h4>    <li> <%=   rivalStats.global_stats.solo.minutesplayed %> </li>
 <h4>score</h4>   <li> <%=   rivalStats.global_stats.solo.score %> </li>
 <h4>playersoutlived</h4>    <li><%=   rivalStats.global_stats.solo.playersoutlived %> </li>
     </ul>

</div>
<ul style="list-style-type:none;">
    <div class="col-md-1">
        <h2>Duo</h2>
    </div>
    <div class="col-md-1">
<h4>Victory Royale!</h4>       <li> <%=   rivalStats.global_stats.duo.placetop1 %> </li>
<h4>kd</h4>        <li> <%=   rivalStats.global_stats.duo.kd %> </li>
<h4>placetop5</h4>       <li><%=   rivalStats.global_stats.duo.placetop5 %> </li>
<h4>placetop10</h4>         <li> <%=   rivalStats.global_stats.duo.placetop10 %> </li>
<h4>placetop12</h4>         <li> <%=   rivalStats.global_stats.duo.placetop12 %> </li>
    </div>
<div class="col-md-1">
<h4>kills</h4>    <li><%=   rivalStats.global_stats.duo.kills %> </li>
<h4>matchesplayed</h4>           <li><%=   rivalStats.global_stats.duo.matchesplayed %> </li>
<h4>minutesplayed</h4>           <li> <%=   rivalStats.global_stats.duo.minutesplayed %> </li>
<h4>score</h4>          <li> <%=   rivalStats.global_stats.duo.score %> </li>
<h4>playersoutlived</h4>           <li><%=   rivalStats.global_stats.duo.playersoutlived %> </li>
         
        </ul>
    </div>
    
<ul style="list-style-type:none;">
    <div class="col-md-1">
            <h2>Squads</h2>
    </div>
    <div class="col-md-1">
<h4>Victory Royale!</h4>  <li> <%=   rivalStats.global_stats.squad.placetop1 %> </li>
<h4>Kills to Deaths</h4>  <li> <%=   rivalStats.global_stats.squad.kd %> </li>
<h4>placetop3</h4>   <li><%=   rivalStats.global_stats.squad.placetop3 %> </li>
<h4>placetop5</h4>   <li><%=   rivalStats.global_stats.squad.placetop5 %> </li>
<h4>placetop6</h4>   <li><%=   rivalStats.global_stats.squad.placetop6 %> </li>

</div>
<div class="col-md-1">
<h4>kills</h4>   <li><%=   rivalStats.global_stats.squad.kills %> </li>
<h4>matchesplayed</h4>   <li><%=   rivalStats.global_stats.squad.matchesplayed %> </li>
<h4>minutesplayed</h4>  <li> <%=   rivalStats.global_stats.squad.minutesplayed %> </li>
<h4>score</h4>  <li> <%=   rivalStats.global_stats.squad.score %> </li>
<h4>playersoutlived</h4>  <li><%=   rivalStats.global_stats.squad.playersoutlived %> </li>
 </ul>
</div>
